# Reference: https://build-cpp.github.io/cmkr/cmake-toml
[project]
name = "EasyPDBParser"

[subdir.raw_pdb]

[target.EasyPDBParserLib]
type = "library"
headers = ["include/**.h"]
sources = ["src/**.cpp", "src/**.h", "raw_pdb/src/Examples/**.cpp", "raw_pdb/src/Examples/**.h"]
include-directories = ["include"]
link-libraries = ["raw_pdb"]
compile-features = ["cxx_std_20"]

